<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <title>Hotel El Gran Salon</title>
	 <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	 
	<link rel="stylesheet" href="../css/estilos.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>

	<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm fixed-top">
		<img class="mi-nav-logo" src="../img/favicon.ico" alt="logo imagen">
		<a class="navbar-brand" href="#">EL Gran Hotel</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="bi bi-list"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="../index.html">Inicio</a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="#">Nosotros</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="./precios.html">Precios</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="./terminos.html">Terminos y condiciones</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="./contacto.html">Contacto</a>
			  </li>
			</ul>
		</div>
	</nav>


  	<div class="jumbotron">
  		<h1 class="display-4">Hotel Gran Salon</h1>
  	</div>

	<div class="container">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item active" aria-current="page"> <a href="../index.html">Inicio</a> </li>
			  <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
			</ol>
		</nav>

		<span>
			Las 215 suites y habitaciones del Hotel. La Fontana conjugan a la perfección la elegancia, el lujo y el confort en espacios de diseño exclusivo. Pensados para viajeros exigentes, estas habitaciones cuentan con todo tipo de detalles que harán de su estadía en Bogotá algo realmente inolvidable.
			miembro de la Organización Hotelera Dorado Plaza inició operaciones en el año de 1993. El Hotel cuenta con 311 confortables habitaciones con la mejor vista al mar y a la ciudad antigua, un panorama espectacular que lo envuelve en la magia del caribe. RNT.5286
		</span>

		<div class="d-flex flex-wrap mi-button-collapse">
			<div class="col-md-4 text-center">
				<a class="btn btn-primary" role="button" data-toggle="collapse" href="#bienvenido"  aria-expanded="false" aria-controls="multiCollapse1">
					Bienvenidos
				</a>
			</div>
			<div class="col-md-4 text-center">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#evento" aria-expanded="false" aria-controls="multiCollapse2">
					Tu evento
				</button>
			</div>
			<div class="col-md-4 text-center">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#intalaciones" aria-expanded="false" aria-controls="multiCollapse3">
					Instalaciones
				</button>
			</div>
			
		</div>
		<div class="d-flex flex-wrap">
			<div class="col-md-4 collapse multi-collapse" id="bienvenido">
				<p>
					<h3>Bienvenidos</h3>
					<p class="lead">Nuestro Hotel Gran Salon, dispone de 116 habitaciones, de moderno diseño ejecutivo, están distribuidas en estándar, twins, suites, y suites ejecutivas, todas las estadías han sido diseñadas.</p>
				</p>
			</div>
			<div class="col-md-4 collapse multi-collapse" id="evento">
				<p>
					<h3>Tu evento</h3>
					<p class="lead">Nuestro Hotel Gran Salon, dispone de salones con aforo máximo de 700 personas, equipados con modernos equipos de audio, y video que garantizan las mejores reuniones de negocios, eventos sociales y convenciones.</p>
				</p>
			</div>
			<div class="col-md-4 collapse multi-collapse" id="intalaciones">
				<p>
					<h3>Instalaciones</h3>
					<p class="lead">Disfruta de una exclusiva estadía en nuestro Hotel Gran Salon, y disfruta de sus instalaciones, servicios, gastronomía, además de las inmediaciones a nuestro hotel de cuatro estrellas.</p>
				</p>
			</div>
		</div>

	</div>
	 
	<footer>
		<div class="row">
		  	<div class="col-md-4 d-flex flex-column align-items-start mb-2">
		  		<a href="#">Facebook</a>
		  		<a href="#">Twitter</a>
		  		<a href="#">Instagram</a>
		  		<a href="#">Youtube</a>
		  	</div>
		  	<div class="col-md-4 mb-2">
				<address>
					<h3>Ubicación</h3>
					<p> <i class="bi bi-geo-alt-fill"></i> Calle 4A #9-19 Colombia</p>
					<p> <i class="bi bi-telephone-fill"></i> +573129876543</p>
					<p> <i class="bi bi-envelope-fill"></i> hotelgransalon@gmail.com</p>
				</address>
			</div>
		  	<div class="col-md-4 d-flex flex-column align-items-end mb-2">
		  		<a href="./nosotros.html">Nosotros</a>
		  		<a href="./precios.html">Precios</a>
		  		<a href="./terminos.html">Terminos y condiciones</a>
		  		<a href="./contacto.html">Contacto</a>
		  	</div>
	  	</div>
	 
	</footer>

	 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	 <script src="../js/dinamicas.js"></script>
  </body>

</html>